
body{
    height: 100dvh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#round-status{
    margin-top: 30px;
    text-align: center;
    box-shadow:0px 2px 40px rgba(132, 131, 131, 0.247);
    padding: 4px 10px;
    border-radius: 14px;
}

#status{
    font-size: small;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "round round";
    gap: 10px;
}

#status span{
    color: red;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
#round-no{
    grid-area: round;
    text-align: center;
}

#round-no span{
    color:green;
}

.winning{
    color: green !important;
}

#status div{
    padding: 10px;
    backdrop-filter: blur(20px);
    /* background-color: rgba(166, 0, 255, 0.292); */
    box-shadow:0px 2px 40px rgba(132, 131, 131, 0.247) ;
    border-radius: 12px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

#player-message{
    margin-top: 30px;
}

.cont{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80dvh;
}

button{
    margin-top: 20px;
    width: 140px;
    height: 60px;
    /* border: 3px solid rgba(84, 84, 226, 0.487); */
    border: none;
    background-color:rgba(255, 255, 255, 0);
    box-shadow:0px 2px 40px rgba(132, 131, 131, 0.247) ;
    margin: 5px;
    border-radius: 12px;
    font-size: large;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

button img{
    width: 30px;
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.244));
}

button:active img{
    transform: scale(1.2);
}

#choice{
    display: flex;
    justify-content: center;
    width: 100%;
}

#choice div{
    margin-left: 10px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px 2px 40px rgba(132, 131, 131, 0.247) ;
    padding: 15px;
    border-radius: 14px;
    font-size: large;
    margin-top: 20px;
}

#choice img{
    width: 50px;
}

footer{
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
}

#end-screen{
    position:fixed;
    top: 0;
    height: 100dvh;
    width:100%;
    left: 0;
}

#end-screen button{
    margin-top: 30px;
    background-color: white;
    box-shadow:0px 2px 40px rgba(132, 131, 131, 0.247);
}

.invisible{
    text-align: center;
    
    display: none;
}
#inside-end-screen{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    backdrop-filter: blur(10px);
    height: 100dvh;
    width:100%;
}

#congratulation h3{
    margin: 4px;
    font-size: xx-large;
}

.point-player{
    color:green;
    animation: player-won 1s ease-in-out alternate infinite;
}

.point-computer{
    color: red;
    animation: computer-won 800ms ease-in-out alternate infinite;
}

@keyframes computer-won {
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-10px);
    }
}
@keyframes player-won {
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(0.5)
    }
}



.computer-won{
    color: red;
    margin-top: 20px;
}

.player-won{
    transform: scale(2);
    color: green;
    transition: transform 200ms ease-in-out;
}

.won-round{
    background-color: rgba(8, 224, 8, 0.16);
    transition: background-color 200ms ease-in-out 4000ms;
}

/* #choice :not(.won-round,img){
    background-color: rgba(255, 0, 0, 0.167);
    transition: background-color 200ms ease-in-out 4000ms;
} */

.install-button{
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(62, 174, 239, 0.479);
    font-size:large;
    padding: 4px;
    color: white;
    opacity: 1;
}